@import "tailwindcss";

@theme {
  --font-base: futura-pt, dnp-shuei-gothic-kin-std, sans-serif;
  --font-ja: dnp-shuei-gothic-kin-std, sans-serif;
  --color-body: #1f1f1f;
  --color-green: #7bc8c1;
  --color-richgreen: #6cba50;
  --spacing-gutter-x: max(6.25vw, 1.5rem);
  --spacing-gutter-2y: max(10.6vw, 5rem);
  --spacing-gutter-y: max(5.3vw, 3rem);
}

/* loading */
.loading-wrap {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
}
.text-wrap {
  overflow: hidden;
}
.loading-wrap .text-wrap .split {
  display: block;
  font-size: 40px;
  color: #fff;
  position: relative;
  z-index: 20;
}
.text-wrap .split span {
  display: inline-block;
}
.reveal-1,
.reveal-2 {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
.reveal-1 {
  background-color: var(--color-body);
  z-index: 30;
}
.reveal-2 {
  background-color: var(--color-body);
  z-index: 10;
}

/* hamburger */
.btn-trigger {
  position: relative;
  width: 36px;
  height: 26px;
  cursor: pointer;
}
.btn-trigger span {
  position: absolute;
  left: 0;
  width: 100%;
  height: 1.6px;
  background-color: var(--color-body);
  border-radius: 2px;
}
.btn-trigger,
.btn-trigger span {
  display: inline-block;
  transition: all 0.5s;
  box-sizing: border-box;
}
.btn-trigger span:nth-of-type(1) {
  top: 0;
}
.btn-trigger span:nth-of-type(2) {
  top: 12px;
}
.btn-trigger span:nth-of-type(3) {
  bottom: 0;
}

#ham-btn span:nth-of-type(1) {
  -webkit-animation: btn07-bar01 0.75s forwards;
  animation: btn07-bar01 0.75s forwards;
}
@-webkit-keyframes btn07-bar01 {
  0% {
    -webkit-transform: translateY(12px) rotate(45deg);
  }
  50% {
    -webkit-transform: translateY(12px) rotate(0);
  }
  100% {
    -webkit-transform: translateY(0) rotate(0);
  }
}
@keyframes btn07-bar01 {
  0% {
    transform: translateY(12px) rotate(45deg);
  }
  50% {
    transform: translateY(12px) rotate(0);
  }
  100% {
    transform: translateY(0) rotate(0);
  }
}
#ham-btn span:nth-of-type(2) {
  transition: all 0.25s 0.25s;
  opacity: 1;
}
#ham-btn span:nth-of-type(3) {
  -webkit-animation: btn07-bar03 0.75s forwards;
  animation: btn07-bar03 0.75s forwards;
}
@-webkit-keyframes btn07-bar03 {
  0% {
    -webkit-transform: translateY(-12px) rotate(-45deg);
  }
  50% {
    -webkit-transform: translateY(-12px) rotate(0);
  }
  100% {
    -webkit-transform: translateY(0) rotate(0);
  }
}
@keyframes btn07-bar03 {
  0% {
    transform: translateY(-12px) rotate(-45deg);
  }
  50% {
    transform: translateY(-12px) rotate(0);
  }
  100% {
    transform: translateY(0) rotate(0);
  }
}
#ham-btn.active span:nth-of-type(1) {
  -webkit-animation: active-btn07-bar01 0.75s forwards;
  animation: active-btn07-bar01 0.75s forwards;
}
@-webkit-keyframes active-btn07-bar01 {
  0% {
    -webkit-transform: translateY(0) rotate(0);
  }
  50% {
    -webkit-transform: translateY(12px) rotate(0);
  }
  100% {
    -webkit-transform: translateY(12px) rotate(45deg);
  }
}
@keyframes active-btn07-bar01 {
  0% {
    transform: translateY(0) rotate(0);
  }
  50% {
    transform: translateY(12px) rotate(0);
  }
  100% {
    transform: translateY(12px) rotate(45deg);
  }
}
#ham-btn.active span:nth-of-type(2) {
  opacity: 0;
}
#ham-btn.active span:nth-of-type(3) {
  -webkit-animation: active-btn07-bar03 0.75s forwards;
  animation: active-btn07-bar03 0.75s forwards;
}
@-webkit-keyframes active-btn07-bar03 {
  0% {
    -webkit-transform: translateY(0) rotate(0);
  }
  50% {
    -webkit-transform: translateY(-12px) rotate(0);
  }
  100% {
    -webkit-transform: translateY(-12px) rotate(-45deg);
  }
}
@keyframes active-btn07-bar03 {
  0% {
    transform: translateY(0) rotate(0);
  }
  50% {
    transform: translateY(-12px) rotate(0);
  }
  100% {
    transform: translateY(-12px) rotate(-45deg);
  }
}
.sp-nav.active {
  top: 63px;
}

/* 文字グラデーション */
.hero-title span {
  display: inline-block;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  background-image: linear-gradient(
    45deg,
    #7bc8c1 25%,
    #6cba50 50%,
    #008150 75%
  );
  background-size: 200%;
  animation: gradation 5s infinite linear;
}
@keyframes gradation {
  0% {
    background-position: 0% 0%;
  }
  50% {
    background-position: 100% 0%;
  }
  100% {
    background-position: 0% 0%;
  }
}

/* 文字アニメーション */
@keyframes slide {
  0% {
    right: 0;
  }
  100% {
    right: calc(100% - 1600px);
  }
}
@media (min-width: 768px) {
  @keyframes slide {
    0% {
      right: 0;
    }
    100% {
      right: calc(100% - 3200px);
    }
  }
}
.animate-slide {
  animation: slide 30s linear infinite;
  min-width: 1600px;
  @media (min-width: 768px) {
    min-width: 3200px;
  }
}
.reverse {
  animation-direction: reverse;
}
img {
  @apply w-full h-auto object-cover;
}
.concept-animation {
  transition: all 0.5s;
  &.is-active {
    color: #fff;
    background: var(--color-body);
  }
}
.concept,
.works {
  transition: all 0.5s;
  &.is-active {
    background: var(--color-body);
  }
}

/* swiper */
.card02 {
  .swiper-slide {
    width: 70vw;
    @media (min-width: 768px) {
      width: 33vw;
    }
  }
}
.card02 {
  .swiper {
    overflow: visible;
  }
}
.card02 {
  .swiper-controller {
    display: flex;
    gap: 2.6rem;
    align-items: center;
    justify-content: flex-end;
    margin-top: 3rem;
    @media (min-width: 768px) {
      margin-top: 6rem;
    }
  }
  .swiper-pagination {
    margin-right: auto;
  }
}
.gradation {
  background-image: linear-gradient(180deg, #6cba50 0%, #7bc8c1 100%);
}
.card02 .swiper-pagination-bullet {
  width: 1rem;
  height: 3px;
  cursor: pointer;
  -webkit-transition: var(--transition);
  transition: var(--transition);
  vertical-align: top;
  background-color: white;
  border-radius: 0px;
  @media (min-width: 768px) {
    width: 1.6rem;
  }
}
.card02 .swiper-pagination-bullet-active {
  width: 2rem;
  background-color: #7bc8c1;
  width: 1.6rem;
  @media (min-width: 768px) {
    width: 4rem;
  }
}
.swiper-pagination {
  text-align: left;
  bottom: 0 !important;
  @media (min-width: 768px) {
    bottom: auto !important;
  }
}

.swiper-button-prev,
.swiper-button-next {
  display: grid;
  place-content: center;
  width: 2.4rem;
  height: 2.4rem;
  cursor: pointer;
  margin-top: 6rem;
  @media (min-width: 768px) {
    width: 3rem;
    height: 3rem;
  }
}
.card02 .swiper-button-prev,
.card02 .swiper-button-next {
  position: relative;
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  margin: 0;
}
.swiper-button-prev::before,
.swiper-button-next::before {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  content: "";
  border-radius: 50%;
  background-color: #fff;
}
.swiper-button-prev::after,
.swiper-button-next::after {
  width: 0.6rem;
  height: 0.6rem;
  content: "";
  border: solid 1px var(--color-body);
  border-width: 3px 3px 0 0;
}
.swiper-button-next::after {
  margin-right: 0.2rem;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}
.swiper-button-prev::after {
  margin-left: 0.2rem;
  -webkit-transform: rotate(-135deg);
  transform: rotate(-135deg);
}

/* get in touch */
.shapes {
  position: relative;
  height: 40vh;
  width: 100vw;
  overflow: hidden;
  @media (min-width: 768px) {
    height: 100vh;
  }
}

.shape {
  position: absolute;
  border-radius: 50%;
}

.shape1 {
  background-color: #008150;
  width: 440px;
  height: 440px;
  margin: -220px 0 0 -220px;
}
.shape2 {
  background-color: #6cba50;
  width: 300px;
  height: 300px;
  margin: -150px 0 0 -150px;
}
.shape3 {
  background-color: #7bc8c1;
  width: 160px;
  height: 160px;
  margin: -80px 0 0 -80px;
}

/* contact */
/* フォーム全体のスタイル */
form {
  width: 90%;
  max-width: 700px;
  margin: auto;
  text-align: left;
}

/* ラベルのスタイル */
label {
  display: block;
  margin-top: 10px;
  font-weight: bold;
  color: #555;
}

/* 入力欄のスタイル */
input,
textarea,
select {
  width: 100%; /* box-sizingが適用されるので、paddingやborder込みで100%に収まる */
  padding: 10px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

/* テキストエリアの高さを調整 */
textarea {
  resize: vertical;
  height: 120px;
}

.box_br input {
  width: auto;
}

/* 送信ボタンのスタイル */
button {
  border: 1px solid var(--color-body);
  padding: 10px;
  width: 100%;
  margin-top: 10px;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}

/* ホバー時のボタンスタイル */
button:hover {
  border: 1px solid var(--color-richgreen);
  background-color: var(--color-richgreen);
  color: #fff;
}
